<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280923193213-hki1b0aor6kllpvhvs8ak9s9hqatjdeo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280923193213-hki1b0aor6kllpvhvs8ak9s9hqatjdeo</string>
	<key>API_KEY</key>
	<string>AIzaSyA5r7940PYi1PDRC-o4ZRwslAyYTJ6nhAw</string>
	<key>GCM_SENDER_ID</key>
	<string>280923193213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskAndGoApp</string>
	<key>PROJECT_ID</key>
	<string>taskandgo-499a9</string>
	<key>STORAGE_BUCKET</key>
	<string>taskandgo-499a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280923193213:ios:565fea0cf5192c654f1614</string>
</dict>
</plist>